.user-container{
  background-color: rgb(226, 118, 11);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
 flex-direction: column;
 gap: 1.5rem;
  
}
#user-img{
    height: 30% ;
    width: 30%;
    border-radius: 50%;
}

